In [ ]:
# concatenando series

In [124]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 9])
#ser1 = pd.Series(['A', 'B', 'C'])
#ser2 = pd.Series(['D', 'E', 'F'])

pd.concat([ser1, ser2], verify_integrity = True)

1    A
2    B
3    C
4    D
5    E
9    F
dtype: object

In [121]:
ser1 = pd.Series(['A', 'B', 'C'])
ser2 = pd.Series(['D', 'E', 'F'])

pd.concat([ser1, ser2], ignore_index=True)

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [ ]:
# exemplo com merge

In [125]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 9])
#ser1 = pd.Series(['A', 'B', 'C'])
#ser2 = pd.Series(['D', 'E', 'F'])

pd.merge([ser1, ser2])

TypeError: merge() missing 1 required positional argument: 'right'

In [126]:
import pandas as pd
import numpy as np

import sqlite3

cnx = sqlite3.connect('/home/silvio/survey.db')

In [127]:
# combinando datasets

In [128]:
dfsite = pd.read_sql_query("SELECT * FROM Site", cnx)
print("site")
print(dfsite)
dfvisited = pd.read_sql_query("SELECT * FROM visited", cnx)
print("visited")
print(dfvisited)
dfsurvey = pd.read_sql_query("SELECT * FROM survey", cnx)
print("survey")
print(dfsurvey)
dfperson = pd.read_sql_query("SELECT * FROM person", cnx)
print("person")
print(dfperson)

site
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
3    DD1   1.00    2.00
visited
    id   site       dated
0  619   DR-1  1927-02-08
1  622   DR-1  1927-02-10
2  734   DR-3  1930-01-07
3  735   DR-3  1930-01-12
4  751   DR-3  1930-02-26
5  752   DR-3        None
6  837  MSK-4  1932-01-14
7  844   DR-1  1932-03-22
8  999   DDF3
survey
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735   None   sal     0.06
9     735   None  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
person
         id   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

# diferentes opções de join
* inner: mostra apenas registros presentes nas duas tabelas
* left: mostra registros presentes nas duas tabelas e registros presentes apenas na tabela da esquerda (após ON)
* right: mostra registros presentes nas duas tabelas e registros presentes apenas na tabela da direita (antes do ON)

In [13]:
dfVisitedSiteMerged = pd.read_sql_query("SELECT * FROM Site s INNER JOIN Visited v ON s.name = v.site", cnx)
print(dfVisitedSiteMerged)

dfVisitedSiteMerged = pd.read_sql_query("SELECT * FROM Site s LEFT JOIN Visited v ON s.name = v.site", cnx)
print(dfVisitedSiteMerged)

    name    lat    long   id   site       dated
0   DR-1 -49.85 -128.57  619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752   DR-3        None
7  MSK-4 -48.87 -123.40  837  MSK-4  1932-01-14
    name    lat    long     id   site       dated
0   DR-1 -49.85 -128.57  619.0   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622.0   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844.0   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734.0   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735.0   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751.0   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752.0   DR-3        None
7  MSK-4 -48.87 -123.40  837.0  MSK-4  1932-01-14
8    DD1   1.00    2.00    NaN   None        None

# combinação usando merge
* tabela da esquerda é o primeiro parametro do merge
* tabela da direita é o segundo parametro do merge
* left_on tabela a esquerda
* right_on tabela a direita
* how forma de join (inner, outer, left ou right
    * inner registros presentes nas duas tabelas
    * outer todos os registros das duas tabelas (presentes ou nao)
    * left todos os registros na tabela da esqueda left_on (primeiro argumento do merge)
    * right todos os registros na tabela da direita right_on (segundo argumento do merge)

In [11]:
dfMerge = pd.merge(dfsite, dfvisited, left_on='name',right_on='site', how='inner')
print(dfMerge)

dfMerge = pd.merge(dfsite, dfvisited, left_on='name',right_on='site', how='outer')
print(dfMerge)

dfMerge = pd.merge(dfsite, dfvisited, left_on='name',right_on='site', how='left')
print(dfMerge)

dfMerge = pd.merge(dfsite, dfvisited, left_on='name',right_on='site', how='right')
print(dfMerge)

    name    lat    long   id   site       dated
0   DR-1 -49.85 -128.57  619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752   DR-3        None
7  MSK-4 -48.87 -123.40  837  MSK-4  1932-01-14
    name    lat    long     id   site       dated
0   DR-1 -49.85 -128.57  619.0   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622.0   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844.0   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734.0   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735.0   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751.0   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752.0   DR-3        None
7  MSK-4 -48.87 -123.40  837.0  MSK-4  1932-01-14
8    DD1   1.00    2.00    NaN    NaN         NaN
9    NaN    NaN     NaN  999.0   DDF3
    name    lat    long     id   site       dated
0   DR-1 -49.85 -128.57  619.0   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622.0   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844.0   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734.0   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735.0   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751.0   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752.0   DR-3        None
7  MSK-4 -48.87 -123.40  837.0  MSK-4  1932-01-14
8    DD1   1.00    2.00    NaN    NaN         NaN
    name    lat    long   id   site       dated
0   DR-1 -49.85 -128.57  619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57  622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57  844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72  734   DR-3  1930-01-07
4   DR-3 -47.15 -126.72  735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72  751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72  752   DR-3        None
7  MSK-4 -48.87 -123.40  837  MSK-4  1932-01-14
8    NaN    NaN     NaN  999   DDF3

# chave composta

In [129]:
index = [('California', 2000), ('California', 2010),
                    ('New York', 2000), ('New York', 2010),
                    ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
                          18976457, 19378102,
                          20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [130]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [132]:
pop[('2010')]

KeyError: '2010'

# obtendo apenas a populacao de 2010 (parte do indice)
* É necessário um loop para obter tal informacao

In [133]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

# dividindo o indice em diversas colunas
* permite fazer buscas com slicing (nao exige loops)

In [134]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

# funcao reindex permite reconstruir o indice como duas colunas independentes

In [135]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [73]:
pop.index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [81]:
pop.index.names

FrozenList([None, None])

In [136]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [137]:
pop[:, 2000]

California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [146]:
pop[('California'):('California')]

California  2000    33871648
            2010    37253956
dtype: int64

# transformando duas colunas do indice, em colunas  do dataframe

In [147]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

# stack operacao inversa

In [148]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

# criação de multi indices

In [149]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2],[10,10,10,11]],
                  columns=['data1', 'data2'])
df

           data1     data2
a 1 10  0.050410  0.429129
  2 10  0.357140  0.543688
b 1 10  0.885729  0.806274
  2 11  0.011642  0.580341